extends ../../../templates/layout-pages.pug

block variables
  - var pageTitle = 'Registration'

block content

  include ../../../blocks/cards-registration/cards-registration.pug

  main.registration
    section.registration__container
      +cards-registration({})