.registration {
  display: flex;
  align-items: center;
  background-image: url('../../../img/registration.jpg');
  width: 100%;
  min-height: 683px;
  height: min-content;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 5px;
  }

  @media (max-width: 400px) {
    min-height: 660px;
  }
}