extends ../layout.pug

block variables
  - var pageTitle = 'Form elements'

block content
  include ../../../blocks/logo-ui-kit/logo-ui-kit.pug  
  include ../../../blocks/heading/heading.pug
  include ../../../blocks/text-field/text-field.pug

  main.form-elements
    .form-elements__container
      .form-elements__logo-ui-kit
        +logo-ui-kit() 
      article.form-elements__fields 
        .form-elements__heading-text 
          +heading({
            type: 'h3',
            text: 'text field'})
          +heading({
            type: 'h3',
            text: 'default',
            weight: 'normal',
            color: 'dark-shade-50' })
        +text-field({
          type: 'email',
          placeholder: 'Email',
          name: 'email-input'
        })
