extends ../../../templates/layout.pug

block variables
  - var pageTitle = 'Form elements'

block content
  include ../../../blocks/logo/logo.pug  
  include ../../../blocks/heading/heading.pug
  include ../../../blocks/text-field/text-field.pug
  include ../../../blocks/dropdown/dropdown.pug
  include ../../../blocks/air-datepicker-custom/air-datepicker-custom.pug

  main.form-elements
    .form-elements__container
      .form-elements__logo
        +logo-ui-kit({}) 
      article.form-elements__fields 
        .form-elements__little-wrapper
          .form-elements__heading-text 
            +heading({
              type: 'h3',
              text: 'text field'})
            +heading({
              type: 'h3',
              text: 'default',
              weight: 'normal',
              color: 'dark-shade-50' })        
          +text-field({
            view: 'default',
            placeholder: 'Email'})
        .form-elements__little-wrapper
          .form-elements__heading-text 
            +heading({
              type: 'h3',
              text: 'text field'})
            +heading({
              type: 'h3',
              text: 'hover / focus',
              weight: 'normal',
              color: 'dark-shade-50' })        
          +text-field({
            view: 'hover/focus',
            placeholder: 'This is pretty awesome'})  
        .form-elements__little-wrapper
          .form-elements__heading-text 
            +heading({
              type: 'h3',
              text: 'dropdown'})
            +heading({
              type: 'h3',
              text: 'default',
              weight: 'normal',
              color: 'dark-shade-50' }) 
          +dropdown({
            text: 'Сколько гостей',
            hasButtons: true,
            isExpanded: false,
            options:[
              {text: 'взрослые', group: 'гости'},
              {text: 'дети', group: 'гости'},
              {text: 'младенцы'}, ],  })       
        .form-elements__wrapper
          .form-elements__heading-text 
            +heading({
              type: 'h3',
              text: 'masked text field'})
            +heading({
              type: 'h3',
              text: 'default',
              weight: 'normal',
              color: 'dark-shade-50' })        
          +text-field({
            view: 'date'})    
        .form-elements__little-wrapper       
          +air-datepicker-custom()             
