mixin color-block({ text = 'Color', description = 'Description', Color = 'dark-shade-100' })
  - let colorModifier = ''

  case Color
    when 'dark-shade-100'
      - colorModifier = 'color-block_color_dark-shade-100'
    when 'dark-shade-75'
      - colorModifier = 'color-block_color_dark-shade-75'
    when 'dark-shade-50'
      - colorModifier = 'color-block_color_dark-shade-50'
    when 'dark-shade-25'
      - colorModifier = 'color-block_color_dark-shade-25'
    when 'dark-shade-5'
      - colorModifier = 'color-block_color_dark-shade-5'
    when 'purple'
      - colorModifier = 'color-block_color_purple'
    when 'green'
      - colorModifier = 'color-block_color_green'

  .color-block
    div(class=`color-block__rect ${colorModifier}`)
    .color-block__text
      p.color-block__title=text
      p.color-block__description=description
