
.color-block{
  display: flex;
  max-width: 270px;

  &__rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
  }

  &__title {
    margin: 0;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    color: $dark-shade-100;
  }

  &__description {
    margin: 0;
    font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 29px;
    color: $dark-shade-100;
  }

  &__description {
    font-size: rem(19px);
  }

  &_color {

    &_dark-shade-100 {
      background: $dark-shade-100;
    }

    &_dark-shade-75 {
      background: $dark-shade-75;
    }

    &_dark-shade-50 {
      background: $dark-shade-50;
    }

    &_dark-shade-25 {
      background: $dark-shade-25;
    }

    &_dark-shade-5 {
      background: $dark-shade-5;
    }

    &_purple {
      background: $purple;
    }

    &_green {
      background: $green;
    }
  }
}
