.text-field {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  border-radius: 4px;
  height: 44px;
  position: relative;
  font-family: 'Montserrat', Arial, helvetica, sans-serif;
  background: #FFFFFF;
  font-size: 14px;
  color: $dark-shade-25;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  padding-left: 15px;

  &:hover {
    @extend %hover-focus;
    outline: none;
  }

  &:focus {
    @extend %hover-focus;
    outline: none;
    box-shadow: 0 0 0.5px 0.4px $purple;
    -o-box-shadow: 0 0 0.5px 0.4px $purple;
  }

  &::placeholder {
    color: $dark-shade-25;
  }

  &_default-state {
    color: $dark-shade-25;
    &::placeholder {
      color: $dark-shade-25;
    }
  }

  &_hover-state {
    color: $dark-shade-75;
    border: 1px solid $dark-shade-50;
    &::placeholder {
      color: $dark-shade-50;
    }
  }
}

%hover-focus {
  border: 1px solid $dark-shade-50;
  color: $dark-shade-75;
}