.text-field {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  border-radius: 4px;
  height: 44px;
  position: relative;
  font-family: 'Montserrat', Arial, helvetica, sans-serif;
  background: #FFFFFF;
  font-size: 14px;
  color: $light-shade;
  border: 1px solid $ight-shade;
  box-sizing: border-box;

}