mixin text-field({type='text', placeholder=''})
  
  - let ViewModifier = ''  

  case type
    when 'default'
      - ViewModifier = 'text-field_default'
    when 'hover/focus'
      - ViewModifier = 'text-field_hover-state'
    when 'date'
      - ViewModifier = 'text-field_input-mask' 
      - placeholder  = 'ДД.ММ.ГГГГ'   

  input(
    class=`text-field ${ViewModifier}`
    type=type,  
    placeholder=placeholder
  )