include ../material-icons/material-icons.pug

mixin pagination({links = []})
  ul.pagination
    each link, i in links
      - const {href, number, isActive} = link
      if i === links.length-1
        li.pagination__item
          .pagination__divider ...

      li.pagination__item
        a.pagination__link(href=href, class= isActive ? 'pagination__link_active' : '')=number  

    li.pagination__item
      a.pagination__link_next(href='/mock-address/change-me')
        +material-icons({
          type: 'arrow_forward', 
          color: 'white',
        })
    p.pagination__description 1 – 12 из 100+ вариантов аренды

