include ../heading/heading.pug
include ../button/button.pug
include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug

mixin cards-find-room({name = 'find-room', action = '/mock-address/change-me', method = 'get'})
  form.cards-find-room(name=name action=action method=method)
    .cards-find-room__container
      +heading({type: 'h1', text: 'Найдём номера под ваши пожелания'})
      .cards-find-room__date-dropdown
        +date-dropdown({fieldType: 'range', firstHeader: 'прибытие', secondHeader: 'выезд'})  
      .cards-find-room__dropdown
        +heading({type: 'h3', text: 'Гости'})
        .cards-find-room__dropdown-wrapper
        +dropdown({
          text: 'Сколько гостей',
          hasButtons: true,
          options: [
            {text: 'взрослые', group: 'гости'},
            {text: 'дети', group: 'гости'},
            {text: 'младенцы'}
          ]
        })
      .cards-find-room__submit-button
        +button({buttonType: 'submit-button', href: '/mock-address/change-me', text: 'Подобрать номер'})