.heading {
  margin: 0;
  font-family: 'Quicksand', 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  color: $dark-shade-100;

  &_type {
    &_h1 {
      font-size: 24px;
      line-height: 30px;
    }

    &_h2 {
      font-size: 19px;
      line-height: 24px;
    }

    &_h3 {
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }

    &_body {
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: $default-font-size;
      line-height: 24px;
    }
  }

  &_color {

    &_dark-shade-25 {
      color: $dark-shade-25;
    }

    &_dark-shade-50 {
      color: $dark-shade-50;
    }

    &_dark-shade-75 {
      color: $dark-shade-75;
    }
  }

  &_weight{

    &_normal{
      font-weight: normal;
    }

  }

}