mixin heading(props = {})
  - const {type, text, weight, color} = props;
  - let weightModifier = ''
  - let colorModifier = ''
  - let typeModifier = ''
  - let heghtModifier = ''
  
  case type 
    when 'body'
      - typeModifier ='p'
    default
      - typeModifier = type 
    
  case weight
    when 'normal'
      - weightModifier = 'heading_weight_normal'  

  case color
    when 'dark-shade-25'
      - colorModifier = 'heading_color_dark-shade-25' 
    when 'dark-shade-50'
      - colorModifier = 'heading_color_dark-shade-50'   
    when 'dark-shade-75'
      - colorModifier = 'heading_color_dark-shade-75'       

  #{typeModifier}.heading(class = `heading_type_${type} ${colorModifier} ${weightModifier}`)=text


//- Example:
 +heading({
   type: 'h3',
   text: 'some text',
   color: 'dark-shade-25',
   weight: 'bold'})


