.donut-chart {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;

  &__text-container {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #BC9CFF;
  }

  &__text-count {
    font-family: $quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
  }
 
  &__text {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }
}