extends ../../../templates/layout.pug

block variables
  - var pageTitle = 'Headers & footers'

block content
  include ../../../blocks/logo-ui-kit/logo-ui-kit.pug   
  include ../../../blocks/footer/footer.pug
  include ../../../blocks/footer-extended/footer-extended.pug
  include ../../../blocks/header/header.pug


  main.headers-and-footers
    .headers-and-footers__logo-ui-kit 
      +logo-ui-kit({})
    section.headers-and-footers__unit
      +header({isLogOn: false, 
        links: [
          {text: 'О нас', isCurrent: true},
          {text: 'Услуги', isMenu: true},
          {text: 'Вакансии'},
          {text: 'Новости'},
          {text: 'Соглашения', isMenu: true}
        ], 
        loginText: 'Войти',
        registerText: 'Зарегистрироваться',
        language: 'rus'
      })
    section.headers-and-footers__unit 
      +header({isLogOn: true, 
        links: [
          {text: 'О нас', isCurrent: true},
          {text: 'Услуги', isMenu: true},
          {text: 'Вакансии'},
          {text: 'Новости'},
          {text: 'Соглашения', isMenu: true}
        ], 
        loginName: 'Юлий Цезарь',
        language: 'rus'
      }) 
    section.headers-and-footers__unit
      +footer-extended({
        description: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', 
        navMenus: [
          {
            header: 'Навигация',
            links: [
              {text: 'О нас'},
              {text: 'Новости'},
              {text: 'Служба поддержки'},
              {text: 'Услуги'}
            ],
          },
          {
            header: 'О нас',
            links: [
              {text: 'О сервисе'},
              {text: 'Наша команда'},
              {text: 'Вакансии'},
              {text: 'Инвесторы'},
            ],
          },
          {
            header: 'Служба поддержки',
            links: [
              {text: 'Соглашения'},
              {text: 'Сообщества'},
              {text: 'Связь с нами'},
            ]
          }
        ], 
        subsriptionHeader: 'Подписка', 
        subcriptionText: 'Получайте специальные предложения и новости сервиса', 
        emailPlaceholder: 'Email',
        copyrightText: 'Copyright © 2018 Toxin отель. Все права защищены.'
      })  
    section.headers-and-footers__bottom-footer
      +footer({})    


