extends ../../../templates/layout.pug

block variables
  - var pageTitle = 'Headers & footers'

block content
  include ../../../blocks/logo-ui-kit/logo-ui-kit.pug   


  section.headers-and-footers
    .headers-and-footers__logo-ui-kit 