extends ../../../templates/layout-pages.pug

block variables
  - var pageTitle = 'Search Room'

block content

  include  ../../../blocks/cards-room-preview/cards-room-preview.pug
  include  ../../../blocks/pagination/pagination.pug
  include  ../../../blocks/range-slider/range-slider.pug
  include  ../../../blocks/date-dropdown/date-dropdown.pug
  include  ../../../blocks/dropdown/dropdown.pug
  include  ../../../blocks/checkbox-button/checkbox-button.pug
  include  ../../../blocks/rich-checkbox-button/rich-checkbox-button.pug
  include  ../../../blocks/checkbox-list/checkbox-list.pug
  include  ../../../blocks/heading/heading.pug

  main.search-room
    .search-room__grid-container
      section.search-room__left-side
        .search-room__left-side-wrapper

          +date-dropdown({fieldType: 'single', firstHeader : 'даты пребывания в отеле'})
           
          .search-room__dropdown-guests-header
            +heading({type: 'h3', text: 'гости'})
          .search-room__dropdown-guests  
            +dropdown({
              hasButtons: true,
              width: 'short',
              text: 'Сколько гостей',
              options:[
                {text: 'взрослые', group: 'гости'},
                {text: 'дети', group: 'гости'},
                {text: 'младенцы'}
              ] 
            }) 

          .search-room__range-slider-container
            +range-slider({headerText: 'диапазон цены'})
            span.search-room__range-slider-text Стоимость за сутки пребывания в номере

          .search-room__checkbox-buttons-header  
            +heading({type: 'h3', text: 'checkbox buttons'})
          .search-room__checkbox-buttons
            .search-room__checkbox-first    
              +checkbox-button({name: 'checkbox0', text: 'Можно курить'})
            .search-room__checkbox    
              +checkbox-button({name: 'checkbox1', text: 'Можно с питомцами'}) 
            .search-room__checkbox  
              +checkbox-button({name: 'checkbox2', text: 'Можно пригласить гостей (до 10 человек)'}) 
          
          .search-room__rich-checkbox-buttons-header  
            +heading({type: 'h3', text: 'доступность'})
          .search-room__rich-checkbox-container  
            .search-room__rich-checkbox-first    
              +rich-checkbox-button({name: 'checkbox3', header: 'Широкий коридор', description: 'Ширина коридоров в номере не\u00A0менее 91 см.'})
            .search-room__rich-checkbox    
              +rich-checkbox-button({name: 'checkbox4', header: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист \u00A0 и проводит до номера.'})           
          
          .search-room__dropdown-furniture-header
            +heading({type: 'h3', text: 'удобства номера'})
          .search-room__dropdown-furniture  
            +dropdown({
              hasButtons: false,
              width: 'short',
              options:[
                {text: 'спальни', number: 2},
                {text: 'кровати', number: 2},
                {text: 'ванные комнаты' } 
              ]  
            })

          .search-room__expandable-list-container
            +checkbox-list({
              title: 'дополнительные удобства',
              values: [
                ['checkbox5', 'Завтрак'],
                ['checkbox6', 'Письменный стол'],
                ['checkbox7', 'Стул для кормления'],
                ['checkbox9', 'Кроватка'],
                ['checkbox10', 'Телевизор'],
                ['checkbox11', 'Шампунь']
              ]
            }) 

      section.search-room__room-list-header
        +heading({type: 'h1', text: 'Номера, которые мы для вас подобрали'})

      section.search-room__room-list  
        +cards-room-preview({roomNumber: 888, roomPrice: 9900, roomImg: '../img/room888.jpg', roomType: 'люкс', rating: 5, reviewCount: 145, name: 'room preview 888', hasArrows: true})
        +cards-room-preview({roomNumber: 840, roomPrice: 9900, roomImg: '../img/room840.jpg', rating: 4, reviewCount: 65, name: 'room preview 840'})
        +cards-room-preview({roomNumber: 980, roomPrice: 8500, roomImg: '../img/room980.jpg', roomType: 'люкс', rating: 3, reviewCount: 35, name: 'room preview 980'})
        +cards-room-preview({roomNumber: 856, roomPrice: 7300, roomImg: '../img/room856.jpg', rating: 5, reviewCount: 19, name: 'room preview 856'})
        +cards-room-preview({roomNumber: 740, roomPrice: 6000, roomImg: '../img/room740.jpg', rating: 4, reviewCount: 44, name: 'room preview 740'})
        +cards-room-preview({roomNumber: 982, roomPrice: 5800, roomImg: '../img/room982.jpg', rating: 3, reviewCount: 56, name: 'room preview 982'})
        +cards-room-preview({roomNumber: 678, roomPrice: 5500, roomImg: '../img/room678.jpg', rating: 5, reviewCount: 45, name: 'room preview 678'})
        +cards-room-preview({roomNumber: 450, roomPrice: 5300, roomImg: '../img/room450.jpg', rating: 4, reviewCount: 39, name: 'room preview 450'})
        +cards-room-preview({roomNumber: 350, roomPrice: 5000, roomImg: '../img/room350.jpg', rating: 3, reviewCount: 77, name: 'room preview 350'})
        +cards-room-preview({roomNumber: 666, roomPrice: 5000, roomImg: '../img/room666.jpg', rating: 5, reviewCount: 25, name: 'room preview 666'})
        +cards-room-preview({roomNumber: 444, roomPrice: 5000, roomImg: '../img/room444.jpg', rating: 3, reviewCount: 15, name: 'room preview 444'})
        +cards-room-preview({roomNumber: 352, roomPrice: 5000, roomImg: '../img/room352.jpg', rating: 3, reviewCount: 55, name: 'room preview 352'})
     
      section.search-room__pagination
        +pagination({links: [
          {href: '/mock-address/change-me', number: 1, isActive: true},
          {href: '/mock-address/change-me', number: 2},
          {href: '/mock-address/change-me', number: 3},
          {href: '/mock-address/change-me', number: 15}
        ]})