.search-room {
  width: 100%;
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);

  &__grid-container {
    display: grid;
    max-width: 1160px;
    width: 100%;
    grid-template-columns: 326px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'left-side  rooms-list-header'
                         'left-side  rooms-list'
                         'left-side  pagination';
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  &__left-side {
    grid-area: left-side;
  }

  &__left-side-wrapper {
    max-width: 266px;
  }

  &__dropdown-guests-header {
    margin-top: 20.44px;
  }

  &__dropdown-guests {
    margin-top: 5px;
  }

  &__range-slider-container {
    margin-top: 30.44px;
  }

  &__range-slider-text {
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade-50;
    margin-top: 13.56px;
  }

  &__checkbox-buttons-header {
    margin-top: 30px;
  }

  &__checkbox-buttons {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__checkbox {
    margin-top: 10.56px;
  }

  &__rich-checkbox-buttons-header {
    margin-top: 30.32px;
  }

  &__rich-checkbox-container {
    margin-top: 16px;
  }

  &__rich-checkbox {
    margin-top: 10px;
  }

  &__dropdown-furniture-header {
    margin-top: 30.44px;
  }

  &__dropdown-furniture {
    margin-top: 5px;
  }

  &__expandable-list-container {
    margin-top: 30px;
  }
}