.dropdown-button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;

  &_invisible {
      opacity: 0; 
      pointer-events: none;   
   } 
  
  &__apply {
      color: $purple;
  }

  &__clear {
      color: $dark-shade-50;
  }
}