mixin dropdown-button(props ={})
  - const {type = 'apply', text = 'Применить', isVisible = true} = props
   
  .dropdown-button.js-dropdown-button
    div(class=`dropdown-button__${type} js-dropdown-button__${type}` class= isVisible ? 'dropdown-button_visible' : null)=text


//-
  +dropdown-button({
      type: 'clear',
      text: 'Очистить'})  
