mixin dropdown-button({ type = 'apply', text = '', isHidden = false} = {})
  
  .dropdown-button.js-dropdown-button
    div(class=`dropdown-button__${type} js-dropdown-button__${type}` class= isHidden ? 'dropdown-button_hidden' : null)=text