mixin dropdown-button(props ={})
  - const {type = 'apply', text = 'Применить', isVisible = true} = props
   
  .dropdown-button(class=`dropdown-button__${type}`)=text


//-
  +dropdown-button({
      type: 'clear',
      text: 'Очистить'})  
