.sign-in {
  display: flex;
  align-items: center;
  background-image: url('../../../img/signin.jpg');
  width: 100%;
  min-height: 702px;
  height: min-content;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
  }

 @media (max-width: 400px) {
   min-height: 380px;
 }
}