extends ../../../templates/layout-pages.pug

block variables
  - var pageTitle = 'Sign In'

block content

  include ../../../blocks/cards-log-in/cards-log-in.pug

  main.sign-in(style="background-image: url('./../img/signin.jpg')")
    section.sign-in__container
      +cards-log-in({})