include ../material-icons/material-icons.pug

mixin rate-button({rating = 0, name = 'rating'})
  - let i = 0;
  - let ratingCount = rating;

  span.rate-button
    while i < 5
      - let starType = (ratingCount-- > 0) ? 'star' : 'star_border';
      label
        +material-icons({
          type: starType, 
          color: 'purple-gradient',
        })
        input.rate-button__input(type='radio' name=name value=i+=1)
              