.radio-button {
  display: inline-block;
  max-width: 241px;

  &__text {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-50;
    cursor: pointer;
    padding-left: 10px;
  }

  &__circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    //line-height: 15px;
    text-align: center;
  }

  &__switch {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
  }

  &__input {
    display: none;
    margin: 0;

    &:checked {
     ~ .radio-button__circle {
       border: 1px solid $purple;
     }
 
     ~ .radio-button__circle > .radio-button__switch {
       background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
     }

     ~ .radio-button__text {
       color: $dark-shade-75;
     }
   }
  }

}