$dark-shade-100 : #1F2041;
$dark-shade-75 : rgba(31, 32, 65, 0.75);
$dark-shade-50 : rgba(31, 32, 65, 0.50);
$dark-shade-25 : rgba(31, 32, 65, 0.25);
$dark-shade-5 : rgba(31, 32, 65, 0.05);

$purple : #BC9CFF;
$green : #6FCF97;

$default-font-size: 14px;

$quicksand: 'Quicksand', 'Open Sans', Arial, sans-serif;
$montserrat: 'Montserrat', Arial, Helvetica, sans-serif;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $dark-shade-75;
  font-size: $default-font-size;
}
