mixin material-icons({ type = 'Icon name', color = '', size = '' } = {})
  - let colorModifier = ''
  - let sizeModifier = ''

  case color
    when 'dark-shade-75'
      - colorModifier = 'material-icons_color_dark-shade-75'
    when 'dark-shade-50'
      - colorModifier = 'material-icons_color_dark-shade-50'
    when 'dark-shade-25'
      - colorModifier = 'material-icons_color_dark-shade-25'
    when 'white'
      - colorModifier = 'material-icons_color_white'
    when 'purple-gradient'
      - colorModifier = 'material-icons_color_purple-gradient'
  
  case size 
    when 'small'
      - sizeModifier = 'material-icons_size_small' 
    when 'large'
      - sizeModifier = 'material-icons_size_large'	  

  i.material-icons(class=`${sizeModifier} ${colorModifier}`)=type


//- 
//- +material-icons({
      type:  'cloud_off', 
      color: 'dark-shade-50',
	  size:  'large'
    })
//- 
