include ../heading/heading.pug

mixin dropdown-option-row(props = {})
  - const {optionName = '', number = 0, groupName = ''} = props
  if number < 0
    - number = 0
  
  if groupName === undefined
    - groupName = optionName

  .dropdown-option-row.js-dropdown-option-row(data-group=group)
    .dropdown-option-row__header
      +heading({type: 'h3', text: optionName})
    .dropdown-option-row__container
      .dropdown-option-row___round.dropdown-option-row__round_set-zero.js-dropdown-option-row__round -
      .dropdown-option-row___number.js-dropdown-option-row__number=number
      .dropdown-option-row___round.js-dropdown-option-row__round +