.dropdown-option-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 92px;
      width: 100%;
    }
  
    &__round {
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      width: 30px;
      height: 30px;
      border: 1px solid $dark-shade-25;
      box-sizing: border-box;
      border-radius: 22px;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-size: 18px;
      color: $dark-shade-25;
      cursor: pointer;
  
      &_set-zero {
        opacity: 0.38;
        pointer-events: none;
      }
    }
  
    &__number {
      display: flex;
      justify-content: center;
      align-items: center; 
      min-width: 30px;
      line-height: 30px;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      color: $dark-shade-100;
    } 

    &_hidden {
        display: none;
      }
  }