include ../social-icons/social-icons.pug
include ../logo-site/logo-site.pug

mixin footer({text = 'Copyright © 2018 Toxin отель. Все права зачищены.'})
  footer.footer-unit
    .footer-unit__container
      +logo-site()
      p.footer-unit__text=text
      +social-icons()