include ../heading/heading.pug
include ../radio-button/radio-button.pug
include ../button/button.pug
include ../toggle/toggle.pug
include ../text-field/text-field.pug

mixin cards-registration({name = 'registration-form', action = '/mock-address/change-me', method = 'get'})
  form.cards-registration(name=name action=action method=method)
    .cards-registration__container
      .cards-registration__header
        +heading({type: 'h1', text: 'Регистрация аккаунта'})
      .cards-registration__firstname
        +text-field({placeholder: 'Имя', name: 'input-firstname'})  
      .cards-registration__lastname
        +text-field({placeholder: 'Фамилия', name: 'input-lastname'})  

      .cards-registration__radio-buttons
        .cards-registration__radio-button
          +radio-button({name: 'registration-form-sex', value: 'man', text: 'Мужчина', isChecked: true})
        .cards-registration__radio-button
          +radio-button({name: 'registration-form-sex', value: 'woman', text: 'Женщина'})  

      .cards-registration__birthday-header
        +heading({type: 'h3', text: 'Дата рождения'})
      .cards-registration__birthday
        +text-field({view: 'date', placeholder: 'ДД.ММ.ГГГГ', name: 'input-birthday'}) 

      .cards-registration__login-service-header
        +heading({type: 'h3', text: 'данные для входа в сервис'})       
      .cards-registration__email
        +text-field({placeholder: 'Email', name: 'input-email', type: 'email'})   
      .cards-registration__password
        +text-field({placeholder: 'Пароль', name: 'input-password', type: 'password'})  

      .cards-registration__toggle
        +toggle({name: 'input-toggle', text: 'Получать спецпредложения'})

      .cards-registration__submit-button
        +button({buttonType: 'submit-button', href: '/mock-address/change-me', text: 'Перейти к оплате'})

      .cards-registration__login
        span.cards-registration__login-text Уже есть аккаунт на Toxin
        +button({buttonType: 'pale-button', href: '/mock-address/change-me', text: 'Войти'})