include ../material-icons/material-icons.pug
include ../dropdown-button/dropdown-button.pug
include ../dropdown-option-row.pug

mixin dropdown(props = {})
  - const {desc = '', width = '', options = [], hasButtons = false, isExpanded = false} = props;

  - let widthModifier = ''

  case width
    when 'decreased'
      - widthModifier = 'dropdown_width-decreased'
  
  .dropdown.js-dropdown(class=widthModifier) 
    .dropdown__selected-options.js-dropdown__selected-options
      span.dropdown__selected-options-text=desc
    .dropdown__expander
      +material-icons({
        type: 'expand_more',
        color: 'dark-shade-75'}) 
    .dropdown__options.js-dropdown__options
      each option in options
        - const {text, group, number} = option
        .dropdown__option.js-dropdown__option
          +dropdown-option-row({text, group, number})

      if hasButtons
        .dropdown__option-button
          +dropdown-button({type: 'clear', text: 'очистить', isVisible: false})      
          +dropdown-button({type: 'apply', text: 'применить'})      
//-
  +dropdown({
    desc:'Сколько гостей', 
    width: 'decreased',
    options: [{ name: 'взрослые', group: 'гости', number: '0' },
              { name: 'дети', group: 'гости', number: '0' },
              { name: 'младенцы', number: '0' }], 
    hasApply: false, 
    hasClear: true
    })
  
        