include ../material-icons/material-icons.pug
include ../heading/heading.pug
include ../dropdown-button/dropdown-button.pug

mixin dropdown(props = {})
  - const {desc = '', width = '', options = [], hasApply = false, hasClear = false} = props;

  - let widthModifier = ''

  case width
    when 'decreased'
      - widthModifier = 'dropdown_width_decreased'
  
  .dropdown(class=widthModifier) 
    .dropdown__name
      span.dropdown__name-text=desc
      .dropdown__expander
        +material-icons({
          type: 'expand_more',
          color: 'dark-shade-75'}) 
    .dropdown__options
      each option in options
        .dropdown__option
          if option.number < 0
            - option.number = 0
          if option.group === undefined
            - option.group = option.name
          .dropdown__option-header
            +heading({ type: 'h3', text: option.name})  
          .dropdown__option-container  
            .dropdown__option-round -
            .dropdown__option-number=option.number
            .dropdown__option-round +

      if hasApply || hasClear
        .dropdown__option-button
          if hasClear 
            .dropdown__option-button
              +dropdown-button({type: 'clear', text: 'очистить'}) 
          if hasApply      
              +dropdown-button({type: 'apply', text: 'применить'})      
//-
  +dropdown({
    desc:'Сколько гостей', 
    width: 'decreased',
    options: [{ name: 'взрослые', group: 'гости', number: '0' },
              { name: 'дети', group: 'гости', number: '0' },
              { name: 'младенцы', number: '0' }], 
    hasApply: false, 
    hasClear: true
    })
  
        