include ../dropdown-option/dropdown-option.pug
include ../dropdown-button/dropdown-button.pug
include ../material-icons/material-icons.pug

mixin dropdown({text, options = [], hasButtons = false, width, isExpanded = false, isClearButtonHidden = true} = {})
  - let widthModifier
  case width
    when 'short'
      - widthModifier = 'dropdown_width-short'

  - let ExpandedMod
  case isExpanded
    when true
      - ExpandedMod = 'dropdown__options_active'

  section.dropdown.js-dropdown(class=widthModifier)
    .dropdown__expander
      +material-icons({
        type: 'expand_more', 
        color: 'dark-shade-50',
      })
    .dropdown__select.js-dropdown__select
      span.dropdown__select-text=text
    .dropdown__options.js-dropdown__options(class=ExpandedMod)
      each option in options
        - const { text, group, number } = option
        .dropdown__option.js-dropdown__option
          +dropdown-option({ text, group, number }) 

      if hasButtons
        .dropdown__option-button
          +dropdown-button({ type: 'clear', text: 'Очистить', isHidden: isClearButtonHidden })
          +dropdown-button({ text: 'apply', text: 'Применить', })