.dropdown {
  position:relative;
  display: inline-block;
  width: 100%;
  min-width: 266px;
  max-width: 320px;
  border: 1px solid $dark-shade-50;
  box-sizing: border-box;  
  box-shadow: 0px 10px 20px $dark-shade-5;
}