include ../material-icons/material-icons.pug
include ../heading/heading.pug
include ../checkbox-button/checkbox-button.pug

mixin checkbox-list({title = 'expandable checkbox list', values = [['name1', 'text1'], ['name2', 'text2']] })
  .checkbox-list.js-checkbox-list
    .checkbox-list__arrow.js-checkbox-list__arrow
      +material-icons({type: 'expand_more', color: 'dark-shade-50'})
    .checkbox-list__header.js-checkbox-list__header
      +heading({type: 'h3', text: title})  
    .checkbox-list__items-list.js-checkbox-list__items-list.checkbox-list__items-list_invisible
      each val in values 
        - const [name, text] = val
        .checkbox-list__item
          +checkbox-button({name, text})