.checkbox-list {
  max-width: 266px;
  position: relative;
  width: 100%;

  &__arrow {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
    height: 44px;
    width: 44px;
    //z-index: 2;
    pointer-events: none;

    &_less {  
      transform: rotate(-180deg);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 44px;
  }

  &__items-list {
    display: block;
    max-width: 266px;
    width: 100%;
    position: absolute;
    padding: 0;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    z-index: 1;
    margin-bottom: 2.44px;

    &_invisible {
      display: none;
      height: 0;
    }
  }

  &__item {
    margin-bottom: 10px;
  }
}
  