mixin social-icons()
  .social-icons
    a(class='social-icons__icon social-icons__icon-twitter' href='/mock-address/change-me' target="_blank" rel="noopener noreferrer")
    a(class='social-icons__icon social-icons__icon-facebook' href='/mock-address/change-me' target="_blank" rel="noopener noreferrer")
    a(class='social-icons__icon social-icons__icon-instagram' href='/mock-address/change-me' target="_blank" rel="noopener noreferrer")