.range-slider {
  max-width: 266px;

  &__header {
    display: flex;
    justify-content: space-between; 
  }

  &__title {
    margin: 0;   
  }

  &__price-range {
    width: auto;
    max-width: 50%;
    border: none;
    text-align: end;
    pointer-events: none;
    text-transform: uppercase;
    color: $dark-shade-50;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
  }

  &__slider-container {
    display: block;
    margin-top: 0;
  }

  .irs.irs--flat {
    i {
      display: none;
    }

    .irs-line {
      max-width: 266px;
      width: 100%;
      height: 6px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 3px;
      background: #FFFFFF;
    }

    .irs-handle {
      width: 16px;
      height: 16px;
      margin-top: -2px;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border: 2px solid #FFFFFF;
      border-radius: 10px;
      box-sizing: border-box;
      cursor: pointer;
    }

    .irs-bar {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 3px;
      height: 6px;
    }
  }
}