include ../heading/heading.pug

mixin range-slider({headerText = 'range slider'})
  .range-slider.js-range-slider
    .range-slider__header
      .range-slider__title
        +heading({ type: 'h3', text: headerText})
      span.range-slider__price-range.js-range-slider__price-range
    .range-slider__slider-container
      input.range-slider__slider.js-range-slider__slider