include ../like-button/like-button.pug

mixin comment({avatarImg = './img/image.png', likeCount = 0, isLiked = false, authorName = '', daysAgo = 'сегодня', text = 'Отзыв'})
  section.comment
    .comment__picture-container
      .comment__avatar
        img(class='comment__avatar' src=avatarImg alt='user_avatar')
      .comment__like-button
        +like-button({likeCount, isLiked})
    .comment__text-container
      .comment__name=authorName
      .comment__daysAgo=daysAgo
      .comment__text=text