mixin checkbox-button({name = 'checkbox-button', text = 'some description of the input'})
  .checkbox-button
    label(class='checkbox-button__label')
      input(type='checkbox' name=name class='checkbox-button__input')
      span.checkbox-button__checkbox
      span.checkbox-button__header=text