.rich-checkbox-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 266px;
  width: 100%;

 &__label {
   display: inline-block;
 }

 &__checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 3px 3px 4px 3px;
  background-color: #FFFFFF;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
}

&__header {
 display: inline-block;
 margin-left: 10px;
 font-family: 'Montserrat', Arial, Helvetica, sans-serif;
 font-style: normal;
 font-weight: bold;
 font-size: 14px;
 line-height: 18px;
 color: $dark-shade-75;
 cursor: pointer;
}

 &__description {
   display: inline-block;
   margin-top: 5px;
   margin-left: 30px;
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: $dark-shade-50;
   cursor: pointer;
   white-space: pre-wrap;
 }

 &__input {
   display: none;
   
   &:checked {

     ~ .rich-checkbox-button__checkbox {
       content: url('./rich-checkbox-button.svg');
       border: 1px solid $purple;
       line-height: 14px;
     }
   }
 }
 
}