include ../heading/heading.pug

mixin nav-menu({header = '', links = []})
  .nav-menu
    ul.nav-menu__list
      li.nav-menu__item
        +heading({type: 'h3', text: header})
      each link in links
        - const {href = '/mock-address/change-me', text = 'click me'} = link
        li.nav-menu__item
          a.nav-menu__link(href=href)=text 
