.nav-menu{

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    @media (max-width: 768px) {
      align-items: center;
      padding-bottom: 10px;
    }
  }

  &__item {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: 360px) {
      text-align: center;

      &:last-of-type {
        margin-bottom: 16px;
      }
    }
    
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  
  &__link {
    font-family: $montserrat;
    font-size: 14px;
    line-height: 0;
    color: $dark-shade-50;
    position: relative;
    text-decoration: none;
  }
}