include ../heading/heading.pug
include ../text-field/text-field.pug
include ../material-icons/material-icons.pug

mixin date-field({title = 'date dropdown', type = 'start', placeholder, width = '' } = {})
  - let widthModifier

  case width
    when 'wide'
      - widthModifier = 'date-field__input_wide'

  form.date-field
    +heading({type: 'h3', text: title})
    .date-field__input(class = widthModifier)
      .date-field__arrow
        +material-icons({type: 'expand_more'})
      div(class=`js-date-field__input-${type}-date`)
        +text-field({
          type: 'text',
          readonly: 'readonly',
          isClickable: true,
          placeholder,
          fontSharpness: 'sharp'
        })