mixin toggle({name = 'toggle', text = '', isChecked = false})
  .toggle
    label
      input.toggle__input(type="checkbox" name=name checked=isChecked)
      span.toggle__ellipse
        span.toggle__circle
      span.toggle__text=text