extends ../../../templates/layout-pages.pug

block variables
  - var pageTitle = 'Landing page'

block content

  include ../../../blocks/cards-find-room/cards-find-room.pug

  main.landing-page
    .landing-page__find-room
      +cards-find-room({})
    p.landing-page__text-on-image Лучшие номера для вашей работы, отдыха и просто вдохновения