extends ../../../templates/layout.pug

block variables
  - var pageTitle = 'Cards'

block content
  include ../../../blocks/logo-ui-kit/logo-ui-kit.pug
  include ../../../blocks/cards-find-room/cards-find-room.pug
  include ../../../blocks/cards-registration/cards-registration.pug
  include ../../../blocks/cards-booking/cards-booking.pug
  include ../../../blocks/air-datepicker-custom/air-datepicker-custom.pug
  include ../../../blocks/cards-log-in/cards-log-in.pug
  include ../../../blocks/inline-calendar/inline-calendar.pug
  include ../../../blocks/cards-room-preview/cards-room-preview.pug

  main.cards
    .cards__logo
      +logo-ui-kit({})
    .cards__container
      .cards__column
        .cards__cell
          +cards-find-room({})
        .cards__cell  
          +cards-registration({})
      .cards__column
        .cards__cell
          +cards-booking({})
        .cards__cell
          +cards-log-in({})  
      .cards__column
        .cards__cell
          +inline-calendar({})
        .cards__cell
          +cards-room-preview({
            roomNumber: 888, 
            roomPrice: 9900, 
            currency: '₽', 
            roomImg: '../img/room888.jpg', 
            roomType: 'люкс', 
            rating: 5, 
            reviewCount: '145', 
            name: 'room 888 preview',
            hasArrows: true
          })
        .cards__cell  
          +cards-room-preview({
            roomNumber: 840, 
            roomPrice: 9900, 
            currency: '₽', 
            roomImg: '../img/room840.jpg', 
            roomType: '', 
            rating: 4, 
            reviewCount: '65', 
            name: 'room 840 preview'
          })