include ../text-field/text-field.pug
include ../date-field/date-field.pug

mixin date-dropdown( { fieldType = '', firstHeader = '', secondHeader = ''} = {} )
  section.date-dropdown.js-date-dropdown
    case fieldType
      when 'single'
        .date-dropdown__input
          +date-field({title: firstHeader, type: 'standalone', placeholder: 'ДД.МЕС - ДД.МЕС', width: 'wide'})
      when 'range'
        .date-dropdown__inputs
          +date-field({title: firstHeader, type: 'start', placeholder: 'ДД.ММ.ГГГГ'})
          +date-field({title: secondHeader, type: 'end', placeholder: 'ДД.ММ.ГГГГ'})
