.date-dropdown {
  max-width: 320px;
  width: 100%;
  cursor: pointer;

 &__input {
   max-width: 266px;
   color: $dark-shade-75;
 }

 &__inputs {
   display: flex;
   justify-content: space-between;
 }

 // &__arrow {
 //   position: absolute;
 //   right: 0;
 //   top: 0;
 //   height: 44px;
 //   width: 44px;
 //   display: flex;
 //   justify-content: center;
 //   align-items: center;
 //   color: $dark-shade-50;
 //   z-index: 1;
 //   pointer-events: none;
 // }
}