include ../material-icons/material-icons.pug

mixin room-information({icon = '', header = '', description = '', hasBottomline = true })
  .room-information
    .room-information__container
      .room-information__icon
        +material-icons({
          type: icon, 
          color: 'purple-gradient',
          size: 'large',
        }) 
      .room-information__text-container            
        p.room-information__header=header
        p.room-information__description=description
    if hasBottomline 
      .room-information__bottomline