.bullet-list {
  max-width: 292px;
  width: 100%;
  
 &__list {
   padding: 0;
 }

 &__item {
   position: relative;
   margin-top: 10px;
   padding-left: 20px;
   font-family: 'Montserrat', Arial, sans-serif;
   font-weight: normal;
   line-height: 24px;
   font-size: 14px;
   color: $dark-shade-75;
   list-style-type: none;
   white-space: pre-wrap;
 
   &::before {
     content: '';
     display: inline-block;
     position: absolute;
     left: 0;
     top: 6px;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: $dark-shade-25;
     box-sizing: border-box;
   }

   &_color {
     
     &_black {
       margin-top: 0;
       padding-left: 15px;
     
       &::before {
         background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
       }
     }
   
     &_green {
       margin-top: 0;
       padding-left: 15px;
     
       &::before {
         background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
       }
     }
   
     &_yellow {
       margin-top: 0;
       padding-left: 15px;
     
       &::before {
         background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
       }
     }
   
     &_purple {
       margin-top: 0;
       padding-left: 15px;
     
       &::before {
         background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
       }
     }
   }   
 }
}